<div class="container">
  <div class="card registration-form">
      <h4 class="title">Log In!</h4>
      <form (ngSubmit)="loginFormulario()" #registroForm="ngForm">
          <div class="field item">
              <input type="text" class="input-field form-control" id="nombre" name="nombre" [(ngModel)]="nombre" required placeholder="Nombre">
          </div>
          <div *ngIf="registroForm.form.controls['nombre'].invalid && (registroForm.form.controls['nombre'].dirty || registroForm.form.controls['nombre'].touched)" class="alert alert-danger">
              Nombre de usuario es requerido.
          </div>
          <div class="field item">
              <input type="password" class="input-field form-control" id="password" name="password" [(ngModel)]="password" required placeholder="Contraseña">
          </div>
          <div *ngIf="registroForm.form.controls['password'].invalid && (registroForm.form.controls['password'].dirty || registroForm.form.controls['password'].touched)" class="alert alert-danger">
              Contraseña es requerida.
          </div>
          <div *ngIf="errorMensaje" class="alert alert-danger">
              {{ errorMensaje }}
          </div>
          <button type="submit" class="btn create-account" [disabled]="!registroForm.form.valid">Logearse</button>
      </form>
  </div>
</div>