<div class="container-fluid bg-image">
    <div class="container">
        <h1 class="display-1 my-4 text-center">Digital South</h1>
        <h1 class="display-8 my-4 text-center">UNA AGENCIA DE MARKETING AL ALCANCE DE TODOS</h1>
        <h4 class="text-center">Somos <strong>Digital South</strong>, una empresa con una amplia experiencia y conocimiento en marketing digital</h4>
        <hr>  
    </div>
</div>

<div class="container">
    <div class="container p-4 rounded formato">
        <div class="row">
            <!-- Columna para la lista de servicios -->
            <h2 class="text-center">¿Qué ofrecemos?</h2>
            <hr>
            <div class="col-md-8">
                <br>
                <br>
                <br>
                <br>
                
                <ul>
                    <li>Estrategia digital</li>
                    <li>Gestión RRSS</li>
                    <li>Diseño web</li>
                    <li>SEO, SEM</li>
                </ul>
                <p>Diseñados para satisfacer las necesidades específicas de su empresa y alcanzar sus objetivos comerciales.</p>
            </div>
            <!-- Columna para la imagen -->
            <div class="col-md-4">
                <img src="../../assets/marketing-digital.png" alt="Imagen" class="img-fluid rounded">
            </div>
        </div>
        <hr>

        <h2>Nuestro objetivo</h2>
        <p>Ayudarle a alcanzar sus metas y objetivos comerciales</p>
        <p>Estamos comprometidos a brindarle un servicio excepcional, resultados tangibles y una colaboración sólida y duradera</p>

        <hr>

        <h2>Departamentos disponibles</h2>
        <ul>
            <li>Departamento de estrategia</li>
            <ul class="department">
                <li>Encargado de desarrollar estrategias de marketing digital personalizadas para cada nuevo cliente.</li>
            </ul>
            <li>Departamento de Diseño y Desarrollo</li>
            <ul class="department">
                <li>Responsable de crear sitios web atractivos y funcionales.</li>
            </ul>
            <li>Departamento de SEO y SEM</li>
            <ul class="department">
                <li>Se enfoca en mejorar la visibilidad y el posicionamiento en línea de nuestros clientes.</li>
            </ul>
            <li>Departamento de Redes Sociales</li>
            <ul class="department">
                <li>Encargado de gestionar y optimizar la presencia en redes sociales de nuestros clientes.</li>
            </ul>
        </ul>

        <hr>

        <h2>¿Necesitas información?</h2>
        <p>No dude en ponerse en contacto con nosotros para programar una consulta o discutir cómo podemos ayudarle a hacer crecer su empresa</p>
        <p>Estamos ansiosos por la posibilidad de colaborar con usted y esperamos poder ser parte de su éxito</p>

        @if(tieneToken()){
            <div>
                <form (ngSubmit)="onSubmit()" #contactForm="ngForm" class="container mt-5">
                    <div class="custom-field">
                        <input id="nombre" name="nombre" [(ngModel)]="nombre" class="custom-input-field" required placeholder="Nombre">
                    </div>
                    <div class="custom-field">
                        <input id="email_contact" name="email_contact" [(ngModel)]="email_contact" type="email" class="custom-input-field" required placeholder="Email">
                    </div>
                    <div class="custom-field">
                        <textarea id="message" name="message" [(ngModel)]="message" class="custom-input-field" required placeholder="Mensaje"></textarea>
                    </div>
                    <button type="submit" class="custom-btn mt-3">Enviar</button>
                </form>
            </div>
    }
          
    </div>
</div>
