<footer class="bg-body-tertiary text-center">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
    <!-- Section: Social media   -->
    <section class="mb-4">
    <!-- Facebook -->
    <a
    data-mdb-ripple-init
    class="btn text-white btn-floating m-1"
    style="background-color: #3b5998;"
    href="https://www.facebook.com/profile.php?id=61559287484027"
    role="button"
    ><i class="fab fa-facebook-f"></i
    ></a>
    <!-- Twitter -->
    <a
    data-mdb-ripple-init
    class="btn text-white btn-floating m-1"
    style="background-color: #272727;"
    href="https://www.tiktok.com/@digital.south_?is_from_webapp=1&sender_device=pc"
    role="button"
    ><i class="fab fa-tiktok"></i
    ></a>
    <!-- Google -->
    
    <!-- Instagram -->
    <a
    data-mdb-ripple-init
    class="btn text-white btn-floating m-1"
    style="background-color: #ac2bac;"
    href="https://www.instagram.com/digital.south_?igsh=aTJrYzJ3aGQyaXlu&utm_source=qr"
    role="button"
    ><i class="fab fa-instagram"></i
    ></a>
    <!-- Linkedin -->
    <a
    data-mdb-ripple-init
    class="btn text-white btn-floating m-1"
    style="background-color: #0082ca;"
    href="https://www.linkedin.com/in/digital-south-479228307/"
    role="button"
    ><i class="fab fa-linkedin-in"></i
    ></a>
    <!-- Github -->
   
    </section>
    <!-- Section: Social media -->
    </div>
    <!-- Grid container -->
    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0,
    0.05);">
    © 2024 Copyright: <p class="text-body">Digital South</p>
    </div>
    <!-- Copyright -->
    </footer>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

